body{
  background-color: midnightblue;
  /*padding-top: 70px;*/
}


.nav li{
    float: left;
    display: block;
    width: 280px;

    font-family: SignPainter-HouseScript;
    font-size: 50px;
    color: white;
    padding: 50px, 0px, 200px, 200px;
}


.nav a{

  color: white;
  text-decoration: none;
      border: 7px;

      -webkit-transition:color 0.3s ease-in;
      -moz-transition:color 0.3s ease-in;
      -o-transition:color 0.3s ease-in;
     transition:color 0.3s ease-in;

      border color: midnightblue;
}

.nav a:hover{
    color: coral;

}

h1{

    text-align: center;

    font-family: "SignPainter-HouseScript";
    font-size: 70px;
    color: white;


}
